<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ILMI Museum </title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!--Change font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/assets/styles/inner_page.css " rel="stylesheet">

    <!--Icon-->
    <link rel="icon" href="./assets/static/Render.png"">
</head>

<body>
  <!--Navigation Bar-->
  <!--How to make ths position of navbar stick?-->
<nav class=" navbar navbar-expand-lg navbar-light fw-light">
    <div class="container-fluid">
        <!--<img src="./assets/static/Render.png" alt="" width="30" class="d-inline-block align-text-top">-->
        <a class="navbar-brand" href="/">kritika kharbanda
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/computation">Computational Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/architecture">Architecture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.cardinallca.com/" target="_blank">Cardinal LCA</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#">Miscellaneous Projects</a>
                </li>
                -->
            </ul>
        </div>
    </div>
    </nav>

    <div class="header row">
        <img class="cover_image w-100" src="../static/assets/static/Architecture/ilmi.jpg" alt="">
    </div>
    <br> <br>

    <div class="row">

        <div class="left_column order-lg-1 order-2">
            <p class="body_text">
                <br>
                As part of the Sustainability team at Henning Larsen Architects, I was involved in formulating the
                Comfort strategy that guided the volumetric massing of ILMI Museum and generating the design for the
                “Cloud” that is multi-functional in nature. Sustainability is not a choice - it is a premise.
                ILMI, a significant part of the larger MiSK City,has the potential to become a catalyst for creating
                life and adding value to the entire MISK masterplan. I do not see the building as an isolated object,
                but believe it can generate critical impact on how MISK and the city life within, are shaped.
                Throughout the design development, I was focussed to implement and operationalize knowledge, in order to
                guide the team to environmentally sound decisions and solutions. The focus has been on robust and
                integrated solutions that create long-term use-value.
                Continous analytical evaluation of different components that holisticaly form the museum, based
                primarily on improving the microclimate, were performed and the design was developed in line with the
                vision of the MiSK City.


                <br>
                The Cloud, essentially the roof of the museum, is inspired by science, art, and technology. It is an
                icon for ILMI that hovers above the plateau. Below the Cloud, an oasis thrives in the protection of the
                shadow. The ILMI Oasis, shaped by the various sunken courtyards and museum galleries, is also a cultural
                oasis where residents and visitors alike meet, socialize, and exchange ideas.
                The cloud has three layers. The upper layer of the cloud is facing the sun and is equipped with
                photovoltaic panels, providing a sustainable energy source for the museum.

                The bottom of the cloud, the surface of the cloud that defines its shape, it is what you see from afar
                and what is closest to the landscapes underneath. In this zone the cloud is fitted with elements that
                regulate the microclimate, providing shade and guiding the wind.

                Between these upper and the lower layers is the fit-out zone. In this part of the cloud, only the
                imagination or advances in art, science and technolgy limits the possibilities.

            </p>
        </div>


        <div class="right_column order-lg-2 order-1">
            <p class="title_01">
                ILMI Museum
            </p>
            <!--How to make a better UI - so that visitors know that this is clickable text?-->
            <p class="title_02">
                Based on Generative Design, Bio-integrated Design, Sustainability
            </p>

            <p class="title_03">
                Work performed:
                <br>
                1. Sustainability strategy
                <br>
                2. Microclimate analysis
                <br>
                3. Wind Chimney
            </p>

            <p class="title_04">
                Project Typology:
                <br>
                Museum
            </p>


            <p class="title_03">
                Project Data:
                <br>
                Henning Larsen Architects (Confidential)
                <br>
                Located in Riyadh,Saudi Arabia / August 2019 - Present
                <br>
                Worked on overall architectural design, spatial design, Cloud form evolution, delivered all design
                stages

            </p>
        </div>
    </div>

    <div class="row">


        <img src="../static/assets/static/Architecture/ILMI/ILMI_Page_1.jpg" width="50%" alt="">
        <img src="../static/assets/static/Architecture/ILMI/ILMI_Page_2.jpg" width="50%" alt="">


        <div class="row_image">
            <div class="left_column_image">
                <img src="../static/assets/static/Architecture/ILMI/VIEW 1 005.jpg" width="100%" alt="">
            </div>
            <div class="right_column_image">
                <img src="../static/assets/static/Architecture/ILMI/VIEW 3 014.jpg" width="100%" alt="">
            </div>
        </div>

    </div>

    <!--Scroll Arrow-->
    <a href="#" style="color: rgb(0, 0, 0);">
        <svg style="position: fixed; bottom: 15px; right: 15px;" xmlns="http://www.w3.org/2000/svg" width="35"
            height="35" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
            <path
                d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z" />
        </svg>
    </a>

    <!--Javascript and jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/assets/scripts/Home.js"></script>
    </body>

    </body>

    <!--Bottom Navigation Bar-->
    <div class="bottom_navbar">
        <center>
            <div class="body_text">
                <a class="body_text_1" href="https://www.instagram.com/kharbanda_kritika/" target="_blank">instagram
                    |</a>
                <a class="body_text_1" href="https://www.linkedin.com/in/kritika-kharbanda-kritika/"
                    target="_blank">Linkedin | </a>
                <a class="body_text_1" href="https://github.com/krkh-1702" target="_blank">Github </a>
            </div>

            <p class="body_text_2">
                All rights reserved. Developed by Kritika Kharbanda.
            </p>
        </center>
    </div>

</html>