<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pujiang Citizen Centre</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!--Change font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/assets/styles/inner_page.css " rel="stylesheet">

    <!--Icon-->
    <link rel="icon" href="./assets/static/Render.png"">
</head>

<body>
  <!--Navigation Bar-->
  <!--How to make ths position of navbar stick?-->
<nav class=" navbar navbar-expand-lg navbar-light fw-light">
    <div class="container-fluid">
        <!--<img src="./assets/static/Render.png" alt="" width="30" class="d-inline-block align-text-top">-->
        <a class="navbar-brand" href="/">kritika kharbanda
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/computation">Computational Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/architecture">Architecture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.cardinallca.com/" target="_blank">Cardinal LCA</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#">Miscellaneous Projects</a>
                </li>
                -->
            </ul>
        </div>
    </div>
    </nav>

    <div class="header row">
        <img src="../static/assets/static/Computation/pujiang/Aerial07.jpg" class="w-100" alt="">
    </div>
    <br> <br>

    <div class="row">
        <div class="left_column order-lg-1 order-2">
            <p class="body_text">
                As part of my employment at Henning Larsen Architects as a Ssuatinability Engineer, I helped on this
                prestigious competition in China. The campus has been designed with three sustainability agendas: Zero
                Carbon Emissions, Zero Water Exploitation and Circular City.
                A four step strategy was develoiped as a roadmap for the client to reach Net Zero, that included passive
                and active systems, sustainable and low embodied carbon materials and digital sustainability that
                boosted circular living patterns after occupancy. A few of them have been explained below.
                <br>
                Passive Systems: Designing with microclimate was one of the key design elements. By raising up the
                volumes towards the South, and keep northern buildings low, the geometry allows for shading with
                controlled solar exposure yet indirect sunlight. In order to prevent turbulance by northern winds, we
                open up the masterplan towards north and streamline the winds through corridors along the pedestrian
                pathways.
                The building volume has been strategically designed to minimize excessive solar heating, by adopting a
                circular form. The doubly curved envelope allows natural light through glazing in the shaded Southern
                setbacks, and also through glazing in the central courtyards towards the North.
                Throughout the masterplan, we see that the temperature ranges by almost 7°C. Therefore, we create
                ‘pockets of comfort,’ which also define the hierarchy of activities.
                <br>
                Low embodied carbon materials: From structure to envelope to the interior cladding, we propose low
                embodied carbon materials. For example, for the structure, we use a hierarchy of concrete and hybrid
                structure, based on functionality and buildability. For envelope, we propose Ultra high performance
                concrete, which has excellent performance while low embodied carbon (EC), as compared to normal
                concrete. For interior cladding, we propose timber cladding, that not only has low EC value, but also
                acts as a sink.
                <br>
                Digital Sustainability: The Zero App shall be built for both the residents and also the visitors to the
                Pujiang Citizen Centre. It aims to drive post-occupancy sustainable user behavior within the project.
                The app shall provide incentives for sustainable behaviors that helps lower energy consumption and
                allowing consumer circular value chain, while ensuring user comfort through environment control.
            </p>
        </div>


        <div class="right_column order-lg-2 order-1">
            <p class="title_01">
                Sustainability Strategy for Pujiang Citizen Centre
            </p>

            <!--How to make a better UI - so that visitors know that this is clickable text?-->
            <p class="title_02">
                Work as part of employment at Henning Larsen Architects
                <br>
                <a class="click_link"
                    href="https://henninglarsen.com/en/news/archive/2021/12/17-pujiang-civic-center">Link</a>
            </p>

            <p class="title_03">
                Role:
                Contributed towards sustainability strategy development, building design based on microclimate studies
                and life cycle assessment
            </p>

            <p class="title_04">
                Underlying Principles:
                <br>
                Net Zero Campus
                <br>
                Microclimate Enhancement
                <br>
                Water & Biodiversity Rehabilitation
            </p>
        </div>
    </div>
    <div class="row">


        <img class="img_margin" src="../static/assets/static/Computation/pujiang/slide_01.jpg" width="80%" alt="">
        <img class="img_margin" src="../static/assets/static/Computation/pujiang/slide_02.jpg" width="80%" alt="">
        <img class="img_margin" src="../static/assets/static/Computation/pujiang/slide_03.jpg" width="80%" alt="">
        <img class="img_margin" src="../static/assets/static/Computation/pujiang/slide_04.jpg" width="80%" alt="">
        <img class="img_margin" src="../static/assets/static/Computation/pujiang/slide_05.jpg" width="80%" alt="">

    </div>

    <!--Scroll Arrow-->
    <a href="#" style="color: rgb(0, 0, 0);">
        <svg style="position: fixed; bottom: 15px; right: 15px;" xmlns="http://www.w3.org/2000/svg" width="35"
            height="35" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
            <path
                d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z" />
        </svg>
    </a>

    <!--Javascript and jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/assets/scripts/Home.js"></script>

    </body>

    <!--Bottom Navigation Bar-->
    <div class="bottom_navbar">
        <center>
            <div class="body_text">
                <a class="body_text_1" href="https://www.instagram.com/kharbanda_kritika/" target="_blank">instagram
                    |</a>
                <a class="body_text_1" href="https://www.linkedin.com/in/kritika-kharbanda-kritika/"
                    target="_blank">Linkedin | </a>
                <a class="body_text_1" href="https://github.com/krkh-1702" target="_blank">Github </a>
            </div>

            <p class="body_text_2">
                All rights reserved. Developed by Kritika Kharbanda.
            </p>
        </center>
    </div>

</html>